In [2]:
import pandas as pd
df0 = pd.read_csv('D_Bahnhof_2020_alle.csv', sep=';')
df = df0[df0['Verkehr'] == 'FV']
df.reset_index(inplace=True)
df

,index,EVA_NR,DS100,IFOPT,NAME,Verkehr,Laenge,Breite,Betreiber_Name,Betreiber_Nr,Status
0,15,8011201,BFBI,de:12061:900260009,Flughafen BER - Terminal 1-2,FV,"13,5119498","52,3648038",DB Station und Service AG,NaN,neu
1,24,8000001,KA,de:05334:1008,Aachen Hbf,FV,"6,091499","50,7678",DB Station und Service AG,1.0,NaN
2,25,8000002,TA,de:08136:1000,Aalen Hbf,FV,"10,096271","48,841013",DB Station und Service AG,4.0,NaN
3,26,8000004,HA,de:05774:7131,Altenbeken,FV,"8,943319","51,766433",DB Station und Service AG,85.0,NaN
4,28,8000009,NAN,de:09561:11000,Ansbach,FV,"10,578239","49,298032",DB Station und Service AG,161.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
352,5885,8070003,FFLF,de:06412:11511,Frankfurt(M) Flughafen Fernbf,FV,"8,570185","50,053167",DB Station und Service AG,7982.0,NaN
353,5886,8070004,FFLU,de:06412:2930,Frankfurt(M) Flughafen Regionalbf,FV,"8,571251","50,051219",DB Station und Service AG,1849.0,NaN
354,6009,8073368,KKDT,de:05315:11901,Köln Messe/Deutz Gl.11-12,FV,"6,974067","50,941721",DB Station und Service AG,3329.0,NaN
355,6303,8098160,BL,de:11000:900003200,Berlin Hbf (tief),FV,"13,369545","52,525592",DB Station und Service AG,1071.0,NaN
356,6307,8098262,MH S,de:09162:100,München Hbf Gl.5-10,FV,"11,555371","48,140094",DB Station und Service AG,4234.0,NaN

In [3]:
df.Laenge.replace(to_replace=',', value='.', inplace=True, regex= True)

C:\Users\ozkan\AppData\Local\Temp\ipykernel_17688\2494901362.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Laenge.replace(to_replace=',', value='.', inplace=True, regex= True)

In [4]:
df.Breite.replace(to_replace=',', value='.', inplace=True, regex= True)

C:\Users\ozkan\AppData\Local\Temp\ipykernel_17688\3317323935.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Breite.replace(to_replace=',', value='.', inplace=True, regex= True)

In [5]:
df.Laenge = df.Laenge.astype(float)

C:\Users\ozkan\AppData\Local\Temp\ipykernel_17688\1373145181.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Laenge = df.Laenge.astype(float)

In [6]:
df.Breite = df.Breite.astype(float)

C:\Users\ozkan\AppData\Local\Temp\ipykernel_17688\1686138708.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Breite = df.Breite.astype(float)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           357 non-null    int64
 1   EVA_NR          357 non-null    int64
 2   DS100           357 non-null    object
 3   IFOPT           357 non-null    object
 4   NAME            357 non-null    object
 5   Verkehr         357 non-null    object
 6   Laenge          357 non-null    float64
 7   Breite          357 non-null    float64
 8   Betreiber_Name  357 non-null    object
 9   Betreiber_Nr    352 non-null    float64
 10  Status          1 non-null      object
dtypes: float64(3), int64(2), object(6)
memory usage: 30.8+ KB

In [8]:
von = input('Geben sie bitte Abfahrt Bahnhof ein: ')

In [9]:
nach = input('Geben sie bitte Ankunft  Bahnhof ein: ')

In [10]:
lat1 = df['Laenge'].loc[df.index[df['NAME'] == von][0]]
lat2 = df['Laenge'].loc[df.index[df['NAME'] == nach][0]]
lon1 = df['Breite'].loc[df.index[df['NAME'] == von][0]]
lon2 = df['Breite'].loc[df.index[df['NAME'] == nach][0]]
print((lat1, lon1), (lat2, lon2))

(8.663789, 50.107145) (13.369545, 52.525592)

In [11]:
from math import radians, cos, sin, asin, sqrt
import json

def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance in kilometers between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles. Determines return value units.
    return c * r
distance = round(haversine(lon1, lat1, lon2, lat2))

in_json = {
              'from' : von,
              'to' : nach,
              'distance' : distance,
              'unit' : 'km'

          }

"""txt = "The Distance between {} and {} is {} km".format(von,nach,distance)
print(txt.format(von,nach,distance))"""

print(json.dumps(in_json, indent=2))

{
  "from": "Frankfurt(Main)Hbf",
  "to": "Berlin Hbf",
  "distance": 586,
  "unit": "km"
}